/* ==================Contact Handles ================== */

.contact_container {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
}

.contact_card {
	display: flex;
	gap: 1rem;
	align-items: center;
	background: var(--color-bg-light);
	padding: 1rem 2rem;
	border-radius: 10px;
	transition: var(--transition);


	/* box-shadow: rgba(91, 165, 255, 0.17) 0px -23px 25px 0px inset,
		rgba(91, 165, 255, 0.15) 0px -36px 30px 0px inset,
		rgba(91, 165, 255, 0.1) 0px -79px 40px 0px inset,
		rgba(91, 165, 255, 0.06) 0px 2px 1px, rgba(91, 165, 255, 0.09) 0px 4px 2px,
		rgba(91, 165, 255, 0.09) 0px 8px 4px, rgba(91, 165, 255, 0.09) 0px 16px 8px,
		rgba(91, 165, 255, 0.09) 0px 32px 16px; */
}

.contact_cards {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 2rem;
	justify-content: space-between;
}

.contact_handles h3,
.contact_form h3 {
	font-size: 2rem;
	letter-spacing: 0.2rem;
	line-height: 3rem;
}

.contact_handles p {
	color: var(--color-light-textColor);
	line-height: 3rem;
}

.contact_handles {
	background: var(--color-Primary-variant);
	padding: 4rem 3rem;
	box-shadow: 10px 17px 30px var(--color-bg-variant-2);
	transition: var(--transition);

	border-radius: 2rem;
}

/* .contact_handles:hover {
	: var(--color-bg-light);
} */

.contact_card:hover {

	transform: translateY(-5px);
	box-shadow: 3px 3px 13px var(--color-Primary-variant-3);
	border-color: var(--color-Primary-variant-3);
}

.contact_details {
	overflow: scroll;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contact_details::-webkit-scrollbar {
	display: none;
}

/* =================Contact form ================= */

.input_fields {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
}

.inputs {
	font-size: 1rem;
	padding: 0.9rem;
	border-radius: 1rem;
	letter-spacing: 0.1rem;
	background: var(--color-bg-light);
	color: var(--color-textColor);
	/* box-shadow: 10px 17px 30px var(--color-Primary-variant); */
	border: 1px solid var(--color-bg-variant-2);
}

.input_textarea {
	resize: none;
	width: 100%;
}

.contact_form {
	padding: 4rem 3rem;
	background: var(--color-bg-light);
	transition: var(--transition);

	box-shadow: 10px 17px 30px var(--color-bg-variant-2);
	border-radius: 2rem;
	width: 50%;
}

/* ==================media queries============= */

@media screen and (max-width: 1024px) {
	.contact_container {
		flex-direction: column;
		gap: 5rem;
	}

	.contact_form {
		width: 100%;
	}
}