nav {
	background: rgba(167, 167, 168, 0.2);
	width: max-content;
	display: block;
	padding: 1.7rem 1.3rem;
	z-index: 10;
	position: fixed;
	top: 50%;
	left: 2rem;
	transform: translateY(-50%);
	bottom: 2rem;
	display: flex;
	flex-direction: column;
	/* gap: 0.8rem; */
	justify-content: space-around;
	border-radius: 3rem;
	backdrop-filter: blur(15px);
}

nav a {
	background: transparent;
	padding: 0.9rem;
	border-radius: 50%;
	display: flex;
	color: var(--color-light-textColor);
	font-size: 1.1rem;
}

nav a:hover {
	background: var(--color-bg-variant);

	transform: translateY(-5px);
}

nav a.active {
	background: var(--color-bg-light);
	color: var(--color-textColor);
	box-shadow: 33px 33px 73px var(--color-bg-variant-2),
		-33px -33px 73px var(--color-bg-variant);
}

/* =============== Media Queries ================ */

@media screen and (max-width: 1124px) {
	nav {
		flex-direction: row;
		left: 50%;
		transform: translateX(-50%);
		position: fixed;
		height: fit-content;
		padding: 0.7rem 1.7rem;
		top: auto;
		bottom: 2rem;
		bottom: calc(2rem + env(safe-area-inset-bottom));
	}
}